.box {
  width: 80px;
  height: 80px;
  display: block;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  padding-top: 30px;
  font-size: 36px;
  color: black;
  float: left;
}

#container {
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}

.hidden {
  display: none;
}

.green {
  background-color: green;
}

.letter {
  content: " ";
}

h2 {
  text-align: center;
}

